@charset "UTF-8";

html,
body {
  width: 100%;
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  color: #333;
}

div,
p,
a,
span,
em,
strong,
img,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
table,
td,
tr,
form,
fieldset,
label,
select,
input,
textarea {
  padding: 0;
  margin: 0;
  outline: none;
  list-style: none;
}

select,
input,
textarea {
  font-size: 12px;
  vertical-align: middle;
}

textarea {
  vertical-align: top;
}

input[type=submit] {
  cursor: pointer;
}

img,
fieldset {
  border: 0;
}

table {
  border-spacing: 0;
}

a:link,
a:visited {
  font: 'Source Sans Pro' sans-serif;
  color: #333;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@font-face {
  font-family: "SourceSansPro-Light";
  font-display: swap;
  src: url("../fonts/SourceSansPro.eot");
  src: url("../fonts/SourceSansPro.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansPro.woff") format("woff"), url("../fonts/SourceSansPro.woff2") format("woff2"), url("../fonts/SourceSansPro.ttf") format("ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "SourceSansPro-Regular";
  font-display: swap;
  src: url("../fonts/SourceSansPro.eot");
  src: url("../fonts/SourceSansPro.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansPro.woff") format("woff"), url("../fonts/SourceSansPro.woff2") format("woff2"), url("../fonts/SourceSansPro.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SourceSansPro-Semibold";
  font-display: swap;
  src: url("../fonts/SourceSansPro.eot");
  src: url("../fonts/SourceSansPro.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansPro.woff") format("woff"), url("../fonts/SourceSansPro.woff2") format("woff2"), url("../fonts/SourceSansPro.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SourceSansPro-Bold";
  font-display: swap;
  src: url("../fonts/SourceSansPro.eot");
  src: url("../fonts/SourceSansPro.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansPro.woff") format("woff"), url("../fonts/SourceSansPro.woff2") format("woff2"), url("../fonts/SourceSansPro.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}

.container {
  max-width: 1180px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0;
}

.section-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.1875rem;
  font-weight: 600;
}

.subtitle {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.125rem;
  margin-bottom: 15px;
}

.header .row__info {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 10px 0;
}

.header .row__info::after {
  display: block;
  position: absolute;
  content: '';
  width: 100%;
  height: 2px;
  bottom: 0;
  background-color: #E9E9E9;
}

.header .row__info .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: .875rem;
  color: #8C8C8C;
}

.header .row__info .contacts .wrapper {
  width: 100%;
  position: relative;
}

.header .row__info .contacts .wrapper::after {
  display: block;
  position: absolute;
  content: '';
  width: 2px;
  height: 100%;
  background-color: #E9E9E9;
  right: 10px;
  top: 0;
  z-index: 2;
}

.header .row__info .contacts .wrapper .email {
  font-size: .875rem;
  color: #8C8C8C;
  text-decoration: none;
}

.header .row__info .contacts .wrapper .email:hover {
  color: #000;
}

.header .row__info .contacts .working-time {
  width: 80%;
  position: relative;
}

.header .row__info .contacts .working-time::after {
  display: block;
  position: absolute;
  content: '';
  width: 2px;
  height: 100%;
  background-color: #E9E9E9;
  right: 10px;
  top: 0;
  z-index: 2;
}

.header .row__info .social-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header .row__info .social-info .facebook {
  margin-top: .5em;
}

.header .row__info .social-info .facebook .icon-facebook {
  color: #3B5998;
  font-size: 1.75rem;
}

.header .row__info .social-info .phones .phone_item a {
  font-size: 1.125rem;
  font-weight: 700;
  color: #2F363E;
  text-decoration: none;
}

.header .row__navigation {
  padding: 0;
}

.header .row__navigation .navbar-brand {
  position: relative;
  margin-right: 1.75em;
}

.header .row__navigation .collapse {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: .3em;
}

.header .row__navigation .collapse .navbar-nav .nav-item {
  margin: 0 18px;
}

.header .row__navigation .collapse .navbar-nav .nav-item .nav-link {
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  position: relative;
  display: block;
  overflow: hidden;
  color: #2F363E;
  padding: 0;
}

.header .row__navigation .collapse .navbar-nav .nav-item .nav-link::before {
  display: block;
  position: absolute;
  content: '';
  width: 100%;
  height: 8px;
  background-color: #FFD538;
  bottom: 3px;
  left: -400px;
  opacity: .8;
  z-index: -2;
  -webkit-transition: linear all .4s;
  -o-transition: linear all .4s;
  transition: linear all .4s;
}

.header .row__navigation .collapse .navbar-nav .nav-item .nav-link:hover {
  -webkit-transition: ease all .4s;
  -o-transition: ease all .4s;
  transition: ease all .4s;
}

.header .row__navigation .collapse .navbar-nav .nav-item .nav-link:hover::before {
  left: -1px;
}

.header .row__navigation .collapse .navbar-nav .active {
  position: relative;
  color: #2F363E;
  margin: 0;
  padding: 0;
}

.header .row__navigation .collapse .navbar-nav .active::before {
  display: block;
  position: absolute;
  content: '';
  width: 100%;
  height: 8px;
  background-color: #FFD538;
  bottom: 3px;
  left: -1px;
  opacity: .8;
  z-index: -2;
}

.header .row__navigation .collapse .navbar-nav .dropdown {
  position: unset;
  margin: 0;
  border: none;
  border-radius: unset;
  left: unset;
}

.header .row__navigation .collapse .navbar-nav .dropdown .dropdown-menu {
  left: unset;
  border: none;
  margin: 0;
  left: 45%;
  padding: 15px;
  border-radius: unset;
  border-style: none;
  background-color: #000;
  opacity: 0.7;
}

.header .row__navigation .collapse .navbar-nav .dropdown .dropdown-menu .dropdown-item {
  margin: 0;
  position: relative;
  color: #FFF;
}

.header .row__navigation .collapse .navbar-nav .dropdown .dropdown-menu .dropdown-item::before {
  position: absolute;
  display: block;
  content: '•';
  left: 8px;
  text-align: center;
}

.header .row__navigation .collapse .navbar-nav .dropdown .dropdown-menu .dropdown-item:hover {
  background-color: transparent;
  color: #FFD538;
}

.header .row__navigation .collapse .navbar-nav .dropdown .dropdown-menu .dropdown-item:hover::before {
  color: #FFD538;
}

.header .row__navigation .collapse .navbar-nav .dropdown .dropdown-menu .dropdown-item:focus {
  background-color: transparent;
  color: #FFD538;
}

.header .row__navigation .search-box {
  width: 25%;
  padding: 10px 0;
  position: relative;
}

.header .row__navigation .search-box .search-field {
  font: 300 .875rem 'Sourse Sans Pro', sans-serif;
  font-style: italic;
  width: 100%;
  padding: 13px 13px;
  border: 2px solid #E9E9E9;
  border-radius: 8px;
}

.header .row__navigation .search-box .search-field[placeholder] {
  color: #2F363E;
}

.header .row__navigation .search-box .search-btn {
  position: absolute;
  right: 15px;
  top: 22px;
  background-image: url(../src/loupe.svg);
  background-color: transparent;
  border-style: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
  color: #2F363E;
}

.header .row__navigation .search-box .search-btn:focus {
  border-style: none;
}

.header .row__navigation .search-box .search-btn:active {
  border-style: none;
}

.footer {
  background-image: url(../img/footer_bg.png);
  background-size: cover;
  background-position-y: 50%;
  position: relative;
}

.footer::before {
  top: 0;
  position: absolute;
  left: 0;
  display: block;
  content: '';
  background-color: #2F363E;
  opacity: .96;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.footer .row__wrapper {
  position: relative;
  z-index: 3;
  border-top: 1px solid #FFF;
}

.footer .row__wrapper .main-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer .row__wrapper .main-part .footer-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer .row__wrapper .main-part .footer-navigation .footer-menu {
  padding: 45px 60px;
}

.footer .row__wrapper .main-part .footer-navigation .footer-menu .footer-menu-link {
  display: block;
  color: #FFF;
  font-size: .875rem;
  font-weight: 400;
  padding-bottom: 10px;
}

.footer .row__wrapper .main-part .footer-navigation .footer-menu .footer-menu-link:hover {
  color: #FFD538;
}

.footer .row__wrapper .main-part .footer-navigation .site-logo {
  padding: 45px 0;
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
}

.footer .row__wrapper .main-part .catalog-links-list {
  padding: 45px 60px 0;
  border-right: 1px solid #FFF;
  border-left: 1px solid #FFF;
}

.footer .row__wrapper .main-part .catalog-links-list .catalog-link {
  display: block;
  color: #FFF;
  font-size: .875rem;
  font-weight: 400;
  padding-bottom: 10px;
}

.footer .row__wrapper .main-part .catalog-links-list .catalog-link:hover {
  color: #FFD538;
}

.footer .row__wrapper .main-part .footer-info {
  color: #FFF;
  font-size: .875rem;
  width: 25%;
  padding: 45px 30px;
  border-right: 1px solid #FFF;
}

.footer .row__wrapper .main-part .footer-info .email {
  display: block;
  color: #FFF;
  margin-bottom: 30px;
  font-size: .875rem;
  font-weight: 400;
}

.footer .row__wrapper .main-part .footer-info .email:hover {
  color: #FFD538;
}

.footer .row__wrapper .main-part .footer-info .place {
  margin-bottom: 30px;
}

.footer .row__wrapper .main-part .footer-info-second {
  margin-left: 15px;
  padding: 45px 0 0 0;
}

.footer .row__wrapper .main-part .footer-info-second .phones {
  text-align: right;
  margin-bottom: 50px;
}

.footer .row__wrapper .main-part .footer-info-second .phones a {
  display: block;
  font-size: .875rem;
  font-weight: 700;
  color: #FFF;
  padding: 0 0 5px 0;
}

.footer .row__wrapper .main-part .footer-info-second .phones a:hover {
  color: #FFD538;
}

.footer .row__wrapper .main-part .footer-info-second .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer .row__wrapper .main-part .footer-info-second .wrapper .facebook-link {
  text-decoration: none;
  -webkit-transition: linear .4s all;
  -o-transition: linear .4s all;
  transition: linear .4s all;
}

.footer .row__wrapper .main-part .footer-info-second .wrapper .facebook-link:hover {
  -webkit-transition: ease-in .4s all;
  -o-transition: ease-in .4s all;
  transition: ease-in .4s all;
}

.footer .row__wrapper .main-part .footer-info-second .wrapper .facebook-link:hover .icon-facebook {
  color: #3b5998;
  -webkit-filter: none;
  filter: none;
}

.footer .row__wrapper .main-part .footer-info-second .wrapper .facebook-link .icon-facebook {
  font-size: 1.25rem;
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
}

.footer .row__wrapper .main-part .footer-info-second .wrapper .credit-cards-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer .row__wrapper .main-part .footer-info-second .wrapper .credit-cards-list li {
  margin-right: 5px;
}

.footer .row__wrapper .info-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 15px 0;
  color: #FFF;
}

.footer .row__wrapper .info-part p {
  font-size: .75rem;
  font-weight: 300;
}

.footer .row__wrapper .info-part p a {
  color: #FFF;
  text-decoration: none;
}

.footer .row__wrapper .info-part p a:hover {
  color: #FFD538;
}

body {
  font-family: "Sourse Sans Pro", sans-serif;
}

#banner {
  min-height: 640px;
  background-image: url(../img/banner.png);
  background-position: 70% 40%;
  background-repeat: no-repeat;
  position: relative;
}

#banner::after {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 1px;
  background-color: #FFF;
  bottom: 132px;
}

#banner .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
  padding-top: 508px;
}

#banner .links .link-item .link {
  height: 132px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #000;
  opacity: .5;
  color: #FFF;
  text-transform: uppercase;
  text-decoration: none;
}

#banner .links .link-item .link:nth-child(odd) {
  border-right: 1px solid #FFF;
  border-left: 1px solid #FFF;
}

#banner .links .link-item .link:hover {
  opacity: .8;
  color: #FFD538;
}

#banner .links .link-item .link:hover svg path {
  fill: #FFD538;
}

#banner .links .link-item .link svg {
  margin-right: 15px;
}

#banner .links .link-item .link svg path {
  fill: #FFF;
}

#technique {
  padding: 50px 0 50px 10px;
}

#technique .technique-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 auto;
}

#technique .technique-list .technique-item {
  margin: 0 10px 10px 0;
  padding: 0;
}

#technique .technique-list .technique-item .technique-link {
  display: block;
  height: 184px;
  margin: 0 auto;
  border: 1px solid #E9E9E9;
  text-decoration: none;
  text-align: center;
  overflow: hidden;
}

#technique .technique-list .technique-item .technique-link:hover {
  -webkit-transition: ease all .4s;
  -o-transition: ease all .4s;
  transition: ease all .4s;
  border-color: #FFD538;
}

#technique .technique-list .technique-item .technique-link:hover .technique-title::after {
  left: -3px;
}

#technique .technique-list .technique-item .technique-link .pic-wrapper {
  height: 133px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 20px;
}

#technique .technique-list .technique-item .technique-link .technique-title {
  display: inline-block;
  position: relative;
  margin: 0 auto;
  text-align: center;
  padding: 0 5px 25px 0;
  font-size: .875rem;
  font-weight: 700;
}

#technique .technique-list .technique-item .technique-link .technique-title::after {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  content: '';
  width: 100%;
  height: 8px;
  background-color: #FFD538;
  z-index: -2;
  opacity: .8;
  top: 10px;
  left: -555px;
  -webkit-transition: linear all .4s;
  -o-transition: linear all .4s;
  transition: linear all .4s;
}

#partners {
  background-color: #F6F6F6;
  padding: 50px 0;
}

#partners h2 {
  margin-bottom: 50px;
}

#partners .slick-dotted.slick-slider {
  margin-bottom: 15px;
}

#partners .slick-slider {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#partners .slick-slider .slick-arrow {
  width: 25px;
  height: 25px;
}

#partners .slick-slider .slick-prev {
  top: 45%;
  left: 0;
  z-index: 1001;
}

#partners .slick-slider .slick-prev:hover::before {
  background-image: url(../src/left-arrow_hover.svg);
}

#partners .slick-slider .slick-prev::before {
  -webkit-transition: linear .2s all;
  -o-transition: linear .2s all;
  transition: linear .2s all;
  display: block;
  content: '';
  width: 25px;
  height: 25px;
  opacity: 1;
  z-index: 2;
  background-image: url(../src/left-arrow.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

#partners .slick-slider .slick-next {
  top: 45%;
  right: 0;
}

#partners .slick-slider .slick-next:hover::before {
  background-image: url(../src/right-arrow_hover.svg);
}

#partners .slick-slider .slick-next::before {
  -webkit-transition: linear .2s all;
  -o-transition: linear .2s all;
  transition: linear .2s all;
  display: block;
  content: '';
  width: 25px;
  height: 25px;
  opacity: 1;
  background-image: url(../src/right-arrow.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

#partners .slick-slider .slick-list {
  width: 100%;
}

#partners .slick-slider .slick-list .slick-slide div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100px;
  margin-right: 5px;
}

#partners .slick-slider .slick-list .slick-slide div .partner img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
  align-self: center;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

#partners .slick-slider .slick-dots li button {
  width: 25px;
  height: 25px;
}

#partners .slick-slider .slick-dots li button::before {
  font-size: 15px;
}

#partners .slick-slider .slick-dots li.slick-active button::before {
  color: #FFD538;
}

#search {
  padding: 50px 20px 0 20px;
}

#search .search-form-box {
  width: 100%;
  border: 1px solid #E9E9E9;
  border-radius: 10px;
  padding: 50px 0;
}

#search .search-form-box .form-group .checkboxes {
  display: block;
  width: 80%;
  margin: 0 auto;
  padding: 24px 0;
}

#search .search-form-box .form-group .checkboxes .sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#search .search-form-box .form-group .checkboxes .sort label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: .875rem;
  font-weight: 400;
  color: #8C8C8C;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  padding-right: 25px;
}

#search .search-form-box .form-group .checkboxes .sort input {
  opacity: 1;
  visibility: hidden;
  position: absolute;
}

#search .search-form-box .form-group .checkboxes .sort input:checked ~ .check {
  border-color: #FFD538;
  -webkit-box-shadow: 0px 0px 0px 15px #FFD538 inset;
  box-shadow: 0px 0px 0px 15px #FFD538 inset;
}

#search .search-form-box .form-group .checkboxes .sort input:checked ~ .check::after {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

#search .search-form-box .form-group .checkboxes .sort .check {
  margin: 0 10px 0 0;
  width: 12px;
  height: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  border-radius: 100px;
  background-color: #E9E9E9;
  border: 2px solid #E9E9E9;
  -webkit-box-shadow: 0px 0px 0px 0px #E9E9E9 inset;
  box-shadow: 0px 0px 0px 0px #E9E9E9 inset;
  -webkit-transition: all 0.15s cubic-bezier(0, 1.05, 0.72, 1.07);
  -o-transition: all 0.15s cubic-bezier(0, 1.05, 0.72, 1.07);
  transition: all 0.15s cubic-bezier(0, 1.05, 0.72, 1.07);
  cursor: pointer;
}

#search .search-form-box .form-group .checkboxes .sort .check::after {
  content: '';
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 4;
  position: absolute;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition-delay: 0.2s !important;
  -o-transition-delay: 0.2s !important;
  transition-delay: 0.2s !important;
  -webkit-transition: all 0.25s cubic-bezier(0, 1.05, 0.72, 1.07);
  -o-transition: all 0.25s cubic-bezier(0, 1.05, 0.72, 1.07);
  transition: all 0.25s cubic-bezier(0, 1.05, 0.72, 1.07);
}

#search .search-form-box .form-group .seach-box {
  width: 80%;
  display: block;
  margin: 0 auto;
}

#search .search-form-box .form-group .seach-box .search {
  border: 1px solid #E9E9E9;
  border-radius: 4px;
  padding: 17px;
  font-size: .875rem;
  font-style: italic;
  width: 76%;
  color: #2F363E;
  position: relative;
}

#search .search-form-box .form-group .seach-box .btn-search {
  position: absolute;
  font-size: .875rem;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #FFD538;
  border-style: none;
  border-radius: 4px;
  color: #2F363E;
  padding: 18px 60px;
  cursor: pointer;
}

#about {
  padding: 0 15px 50px;
}

#about h2 {
  padding: 40px 0;
}

#about .article img {
  padding-left: 10px;
  float: right;
}

#about .article p {
  font-weight: 400;
  font-size: 1.125rem;
  margin: 0 0 20px 0;
}

#about .article ul {
  font-weight: 400;
  font-size: 1.125rem;
  margin-bottom: 20px;
}

#about .article ul li {
  position: relative;
  padding-left: 20px;
}

#about .article ul li::before {
  position: absolute;
  display: block;
  content: '';
  width: 10px;
  height: 2px;
  background-color: #2F363E;
  top: 50%;
  left: 0;
}
@supports (-webkit-appearance:none){
.header .row__navigation .search-box .search-btn{background-image:url(../src/loupe.svg)}
.footer{background-image:url(../img/footer_bg.png)}
#banner{background-image:url(../img/banner.png)}
#partners .slick-slider .slick-prev:hover::before{background-image:url(../src/left-arrow_hover.svg)}
#partners .slick-slider .slick-prev::before{background-image:url(../src/left-arrow.svg)}
#partners .slick-slider .slick-next:hover::before{background-image:url(../src/right-arrow_hover.svg)}
#partners .slick-slider .slick-next::before{background-image:url(../src/right-arrow.svg)}
}
