.footer
    background-image: url(../img/footer_bg.png)
    background-size: cover
    background-position-y: 50%
    position: relative
    &::before
        top: 0
        position: absolute
        left: 0
        display: block
        content: ''
        background-color: $black
        opacity: .96
        width: 100%
        height: 100%
        z-index: 1
    .row__wrapper
        position: relative
        z-index: 3
        border-top: 1px solid $white
        .main-part
            display: flex
            justify-content: space-between
            .footer-navigation
                display: flex
                justify-content: space-between
                .footer-menu
                    padding: 45px 60px
                    .footer-menu-link
                        display: block
                        color: $white
                        font-size: .875rem
                        font-weight: 400
                        padding-bottom: 10px
                        &:hover
                            color: $yellow
                .site-logo
                    padding: 45px 0
                    filter: brightness(0) invert(1)
            .catalog-links-list
                padding: 45px 60px 0
                border-right: 1px solid $white
                border-left: 1px solid $white
                .catalog-link
                    display: block
                    color: $white
                    font-size: .875rem
                    font-weight: 400
                    padding-bottom: 10px
                    &:hover
                        color: $yellow
            .footer-info
                color: $white
                font-size: .875rem
                width: 25%
                padding: 45px 30px
                border-right: 1px solid $white
                .email
                    display: block
                    color: $white
                    margin-bottom: 30px
                    font-size: .875rem
                    font-weight: 400
                    &:hover
                        color: $yellow
                .place
                    margin-bottom: 30px
            .footer-info-second
                margin-left: 15px
                padding: 45px 0 0 0
                .phones
                    text-align: right
                    margin-bottom: 50px
                    a
                        display: block
                        font-size: .875rem
                        font-weight: 700
                        color: $white
                        padding: 0 0 5px 0
                        &:hover
                            color: $yellow
                .wrapper
                    display: flex
                    justify-content: space-between
                    .facebook-link
                        text-decoration: none
                        transition: linear .4s all
                        &:hover
                            transition: ease-in .4s all
                            .icon-facebook
                                color: #3b5998
                                filter: none
                        .icon-facebook
                            font-size: 1.25rem
                            filter: brightness(0) invert(1)
                    .credit-cards-list
                        display: flex
                        justify-content: space-between
                        li
                            margin-right: 5px
        .info-part
            display: flex
            justify-content: space-between
            padding: 15px 0
            color: $white
            p
                font-size: .75rem
                font-weight: 300
                a
                    color: $white
                    text-decoration: none
                    &:hover
                        color: $yellow