.header
    position: relative
    .row__info
        position: relative
        display: flex
        justify-content: space-between
        &::after     
            display: block
            position: absolute
            content: ''
            width: 100%
            height: 2px
            bottom: 0
            background-color: #E9E9E9
        .contacts
            display: flex
            align-items: center
            flex: 0 0 55%
            margin: 15px 0
            text-align: left
            font-size: .875rem
            font-weight: 400
            color: $gray
            .wrapper
                padding-right: 43px
                position: relative
                &::after
                    display: block
                    position: absolute
                    content: ''
                    width: 2px
                    height: 43px
                    top: -5px
                    right: 0
                    background-color: #E9E9E9 
            .working-time
                position: relative
                display: block
                padding: 0 41px
                &::after
                    display: block
                    position: absolute
                    content: ''
                    width: 2px
                    height: 43px
                    top: -5px
                    right: 0
                    background-color: #E9E9E9
            .email
                font-size: .875rem
                font-weight: 400
                color: $gray
        .social-info
            flex: 0 0 45%
            margin: 15px 0
            display: flex
            justify-content: space-between
            .facebook
                margin: 15px 0 0 0
                text-decoration: none   
                .icon-facebook
                    font-size: 1.5rem
                    color: #3b5998
            .phones
                .phone_item
                    margin-top: 5px
                    a
                        font-weight: 400
                        font-size: 1.125rem
                        text-decoration: none
    .row__navigation    
        display: flex
        justify-content: space-between
        margin: 10px 0
        .menu
            .toggle-btn
                display: none
            .main-menu
                display: flex
                margin-top: 15px
                position: relative
                .child-menu
                    display: none
                    position: absolute
                    padding: 20px
                    background-color: $black
                    opacity: 0.7
                    top: 52px
                    z-index: 3
                    .child-item
                        margin-left: 20px
                        list-style-type: disc
                        color: $white
                        padding: 5px 0
                        &:hover
                            color: $yellow
                            a
                                color: $yellow
                        a
                            text-decoration: none
                            color: $white
                .dropdown
                    font-size: 1.125rem
                    font-weight: 400
                    cursor: pointer
                    margin-right: 10px
                    position: relative
                    .icon-angle-down
                        position: absolute
                        top: 10% 
                .menu-item
                    padding: 0 8px
                    .menu-link
                        font-size: 1.125rem
                        font-weight: 400
                        text-decoration: none
                        position: relative
                        display: block
                        overflow: hidden
                        &::after
                            display: block
                            position: absolute
                            content: ''
                            width: 100%
                            height: 8px
                            bottom: 2px
                            left: -100px
                            z-index: -1
                            background-color: $yellow
                            transition: linear all .4s
                        &:hover
                            transition: ease all .4s
                            &::after
                                left: 0
        .search-box
            width: 30%
            position: relative   
            .search-field
                font: 300 .875rem 'Sourse Sans Pro', sans-serif
                font-style: italic
                width: 92%
                padding: 13px 13px
                border: 2px solid #E9E9E9
                border-radius: 8px
            .search-field[placeholder]
                color: $black                   
            .search-btn
                position: absolute
                right: 10px
                top: 10px
                background-image: url(../src/loupe.svg) 
                background-color: transparent
                border-style: none
                width: 25px
                height: 25px
                cursor: pointer
            .search-btn
                &:focus
                    border-style: none
                &:active
                    border-style: none
                    
                    