@import _reset.sass
@import _mixins.sass
@import _fonts.sass

$black: #2F363E
$real_black: #000
$white: #FFF
$gray: #8C8C8C
$yellow: #FFD538

.container
    max-width: 1180px
    width: 100%
    height: auto
    margin: 0 auto
    padding: 0 

.section-title
    text-align: center
    text-transform: uppercase
    font-size: 2.1875rem
    font-weight: 600
.subtitle
    text-transform: uppercase
    font-weight: 600
    font-size: 1.125rem
    margin-bottom: 15px