@import _variables.sass

@media screen and (min-width: 320px) and (max-width: 426px)
    .header
        padding: 15px 15px 5px 15px 
        .row__navigation
            .navbar-brand
                margin-right: 2.2em
                .site-title
                    .site-logo
                        display: flex
                        align-items: center
                        width: 132px
                        height: 34px
            .collapse
                .navbar-nav
                    .nav-item
                        margin: 0
                        padding: 0
                        .nav-link
                            margin: 0
                            padding: 0
                            font-size: 1.125rem
                            font-weight: 400
                            &:hover
                                color: $yellow
                                &::before
                                    display: none
                    .active
                        display: inline-block
                        margin: 0
                        padding: 0
                        font-size: 1.125rem
                        &::before
                            display: none
                    .dropdown
                        .dropdown-menu
                            padding: 0
                            background-color: transparent
                            opacity: 1
                            .dropdown-item
                                color: $black
                                font-size: .875rem
                                font-weight: 700                                    
            .navbar-toggler
                border: none
                border-style: none
                span
                    font-size: 1.5rem
            .contact-phones
                .icon-call-phone-outline
                    color: $black
                    display: flex
                    align-items: center
                    font-size: 2.5rem
                    padding-top: .1em
                    transition: .4s all
                .phones
                    position: absolute
                    box-sizing: border-box
                    left: -400px
                    background-color: $white
                    padding-top: 10px
                    width: 100%
                    .phone_item
                        margin: 0 0 5px 0
                        a
                            font-size: 1rem
                            color: $black
                            text-decoration: none
                            font-weight: 700
                .phones.active
                    left: 0
                    z-index: 25
                .icon-call-phone-outline.active
                    transition: .4s all
                    transform: rotate(-100deg)
            .search-box
                width: 100%
                padding: 10px 0
                position: relative
                .search-field
                    font: 300 .875rem 'Sourse Sans Pro', sans-serif
                    font-style: italic
                    width: 100%
                    padding: 13px 13px
                    border: 2px solid #E9E9E9
                    border-radius: 8px
                .search-field[placeholder]
                    color: $black                   
                .search-btn
                    position: absolute
                    right: 15px
                    top: 22px
                    background-image: url(../src/loupe.svg) 
                    background-color: transparent
                    border-style: none
                    width: 20px
                    height: 20px
                    cursor: pointer
                .search-btn
                    color: $black
                    &:focus
                        border-style: none
                    &:active
                        border-style: none
    #banner
        background-position: 45% 30%
        min-height: 315px
        padding: 15px
        &::after
            display: none
        .links
            padding-top: 0
            .link-item
                .link
                    width: 290px
                    height: 95px
                    padding: 0
                    &:nth-child(odd)
                        border-top: 1px solid $white
                        border-bottom: 1px solid $white
                    &:nth-child(even)
                        border-top: none
                        border-bottom: none
    #technique
        padding: 25px 0 0 0                 
        .technique-list
            .technique-item
                width: 100%
                margin: 0 0 10px 0
                padding: 0 15px 
                .technique-link
                    .pic-wrapper
                        margin: 0 20px    
    #partners
        padding: 25px 15px
        h2
            font-size: 1.4375rem
            margin-bottom: 10px
            width: 80%
            margin: 0 auto
        .slick-slider
            margin-bottom: 10px
            .slick-prev
                left: 35%
                bottom: -35px
                top: unset
            .slick-next
                right: 35%
                bottom: -35px
                top: unset
    #search
        padding: 15px
        .search-form-box
            padding: 15px
            border-radius: 0
            h2
                font-size: 1.4375rem
                padding: 0 10px
            .form-group
                margin: 0
                .checkboxes
                    padding: 15px 10px 15px 0
                    width: 100%
                    .sort
                        label
                            padding-right: 15px
                .seach-box
                    width: 100%
                    .search
                        width: 100%
                        padding: 15px
                        font-size: .875rem
                        margin-bottom: 15px 
                    .btn-search
                        position: relative
                        width: 100%
    #about
        padding: 15px
        h2
            font-size: 1.4375rem
            padding: 0
            margin-bottom: 15px
        .article
            img
                max-width: 100%
                padding: 0 0 15px 0
                float: none
            .subtitle
                font-size: .875rem
            p
                font-size: .75rem
                margin: 0 0 10px
            ul
                font-size: .75rem
                margin-bottom: 10px 
                li
                    &::before
                        height: 1px
    .footer
        background-position-x: 75%
        .row__wrapper
            .main-part
                flex-wrap: wrap
                padding: 30px 15px
                .footer-navigation
                    display: none
                .catalog-links-list
                    display: none
                .footer-info
                    width: 100%
                    padding: 0
                    margin-bottom: 30px
                    border-right: none
                    .email
                        margin-bottom: 25px
                    .place
                        margin-bottom: 25px
                .footer-info-second
                    padding: 0
                    margin: 0
                    .phones
                        margin-bottom: 35px
                    .facebook-link
                        margin-right: 25px
            .info-part
                flex-direction: column
                justify-content: center
                width: 80%
                text-align: center
                padding: 15px 0
                p
                    &:nth-child(2)
                        margin-top: 15px                   
@media screen and (min-width: 375px) and (max-width: 424px)
    .header
        .row__navigation
            .navbar-brand
                margin-right: 4.5em
    #banner
        .links
            .link-item
                .link
                    width: 345px
@media screen and (min-width: 425px) and (max-width: 426px)
    .header
        .row__navigation
            .navbar-brand
                margin-right: 7em
    #banner
        .links
            .link-item
                .link
                    width: 395px
    #technique
        .technique-list
            .technique-item
                width: 50%
                &:nth-last-child(even)
                    padding-right: 0
                .technique-link
                    .pic-wrapper
                        margin: 0 10px
                    .technique-title
                        font-size: .875rem
@media screen and (min-width: 427px) and (max-width: 480px)
    .header
        .row__navigation
            padding: 10px 15px
            .navbar-brand
                margin-right: 9em
                .site-title
                    .site-logo
                        display: flex
                        align-items: center
                        width: 132px
                        height: 34px
            .collapse
                .navbar-nav
                    .nav-item
                        margin: 0
                        padding: 0
                        .nav-link
                            margin: 0
                            padding: 0
                            font-size: 1.125rem
                            font-weight: 400
                            &::before
                                display: none
                            &:hover
                                color: $yellow
                                &::before
                                    display: none
                    .dropdown
                        .dropdown-menu
                            padding: 0
                            background-color: transparent
                            opacity: 1
                            .dropdown-item
                                color: $black
                                font-size: .875rem
                                font-weight: 700
                    .active
                        display: inline-block
                        margin: 0
                        padding: 0
                        font-size: 1.125rem
                        &::before
                            display: none
            .navbar-toggler
                border: none
                border-style: none
                span
                    font-size: 1.5rem
            .contact-phones
                .icon-call-phone-outline
                    color: $black
                    display: flex
                    align-items: center
                    font-size: 2.5rem
                    padding-top: .1em
                    transition: .4s all
                .phones
                    position: absolute
                    box-sizing: border-box
                    left: -400px
                    background-color: $white
                    padding-top: 10px
                    width: 100%
                    .phone_item
                        margin: 0 0 5px 0
                        a
                            font-size: 1.125rem
                            font-weight: 700
                            color: $black
                            text-decoration: none
                .phones.active
                    left: 15px
                    z-index: 25
                .icon-call-phone-outline.active
                    transition: .4s all
                    transform: rotate(-100deg)
            .search-box      
                width: 100%        
    #banner
        min-height: 353px
        padding: 30px 15px
        &::after
            display: none
        .links
            padding-top: 0
            .link-item
                padding-right: 0
                .link
                    &:nth-last-child(odd)
                        border-bottom: 1px solid $white
                    &:nth-child(1)
                        border-top: 1px solid $white
    #technique
        padding: 25px 0                
        .technique-list
            .technique-item
                width: 100%
                margin: 0 0 10px 0
                padding: 0 15px
                &:nth-last-child(even)
                    padding-right: 0 
                .technique-link
                    .technique-title
                        font-size: .875rem
    #partners
        padding: 25px 15px
        h2
            font-size: 1.4375rem
            margin-bottom: 10px
            width: 80%
            margin: 0 auto
        .slick-slider
            margin-bottom: 10px
            .slick-prev
                left: 35%
                bottom: -35px
                top: unset
            .slick-next
                right: 35%
                bottom: -35px
                top: unset
    #search
        padding: 0 15px
        .search-form-box
            border-radius: 0
            padding: 25px
            h2
                font-size: 1.875rem 
            .form-group
                margin: 0
                .checkboxes
                    padding: 15px 10px 15px 0 
                    width: 100%
                    .sort
                        label
                            padding-right: 15px
                .seach-box
                    width: 100%
                    .search
                        width: 100%
                        padding: 15px
                        font-size: .875rem
                        margin-bottom: 15px 
                    .btn-search
                        position: relative
                        width: 100%
    #about
        padding: 15px
        h2
            font-size: 1.4375rem
            padding: 0
            margin-bottom: 20px  
        .article
            img
                max-width: 100%
                padding: 0 0 15px 0
                float: none
            .subtitle
                font-size: 1rem
            p
                font-size: .875rem
                margin: 0 0 10px
            ul
                font-size: .875rem
                margin-bottom: 10px
                li
                    &::before
                        height: 1px
    .footer
        background-position-x: 75%
        .row__wrapper
            .main-part
                flex-wrap: wrap
                padding: 30px 15px
                .footer-navigation
                    display: none
                .catalog-links-list
                    display: none
                .footer-info
                    width: 100%
                    padding: 0
                    margin-bottom: 30px
                    border-right: none
                    .email
                        margin-bottom: 25px
                    .place
                        margin-bottom: 25px
                .footer-info-second
                    padding: 0
                    margin: 0
                    .phones
                        margin-bottom: 35px
                    .facebook-link
                        margin-right: 25px
            .info-part
                flex-direction: column
                justify-content: center
                width: 80%
                text-align: center
                padding: 15px 0
                p
                    &:nth-child(2)
                        margin-top: 15px                 
@media screen and (min-width: 481px) and (max-width: 768px)
    .header
        .row__info
            padding: 5px 10px
            .contacts
                padding-right: 0
                font-size: .8125rem
                .email
                    font-size: .8125rem
                .wrapper
                    padding: 0 5px 0 0
                    &::after
                        
                .working-time
                    padding: 0
            .social-info
                padding-left: 0
                .facebook
                    .icon-facebook
                        font-size: 1.5rem
                .phones
                    .phone_item
                        a
                            font-size: 1rem
        .row__navigation
            padding: 5px 10px
            .navbar-brand
                margin-right: 1.75em
                .site-title
                    .site-logo
                        display: flex
                        align-items: center
                        width: 132px
                        height: 34px
            .collapse 
                .navbar-nav 
                    .nav-item
                        margin: 0 10px
                        .nav-link
                            font-size: .9375rem
                    .dropdown
                        .dropdown-menu
                            left: 55%
                            padding: 10px
                            .dropdown-item
                                font-size: .875rem
            .search-box
                display: none
    #banner
        min-height: 400px
        background-position: 40% 35%
        &::after
            bottom: 100px    
        .links
            padding-top: 350px
            .link-item
                .link
                    height: 100px
    #technique
        padding: 25px 15px
        .technique-list
            padding: 0 0 0 10px
            justify-content: space-between
            .technique-item
                width: 33.333%
                margin: 0 10px 10px 0
                .technique-link
                    .pic-wrapper
                        margin: 0 10px
    #partners
        padding: 25px
        h2
            font-size: 1.5rem
            margin-bottom: 0
        .slick-dotted.slick-slider
            margin-bottom: 5px
        .slick-slider
            .slick-prev
                left: 0
            .slick-next
                right: 0
            .slick-dots
                bottom: -15px
    #search
        padding: 15px 25px
        .search-form-box
            padding: 20px
            border-radius: 0
            h2
                font-size: 1.5rem
            .form-group
                padding: 0 30px
                .checkboxes
                    width: 100%                 
                .seach-box
                    width: 100%                       
    #about
        padding: 15px 25px
        h2
            padding: 0 0 20px 0
            font-size: 1.5rem
        .article
            .subtitle
                font-size: 1rem
            img
                max-width: 50%
                height: auto
                padding: 0 0 0 5px
            p
                font-size: .9375rem
                margin: 0 0 10px 0
            ul
                font-size: .9375rem
                margin-bottom: 10px
    .footer 
        .row__wrapper
            .main-part
                flex-wrap: wrap
                justify-content: center
                padding: 0 15px
                .footer-navigation
                    margin: 25px 
                    float: left 
                    .site-logo
                        display: none
                    .footer-menu
                        padding: 0
                        .footer-menu-link
                            padding-bottom: 5px
                .catalog-links-list
                    padding: 25px 25px 0 25px
                .footer-info
                    width: 38%
                    padding: 25px 25px 0 25px
                    .email
                        margin-bottom: 10px
                    .place
                        margin-bottom: 10px
                .footer-info-second
                    padding: 25px 0 0 25px 
                    margin: 0
        .row__wrapper 
            .info-part
                padding: 15px
@media screen and (min-width: 769px) and (max-width: 1024px)
    .header
        .row__info
            padding: 5px 10px
        .row__navigation
            padding: 0 .5rem
            .navbar-brand
                margin-right: .2em
                .site-title
                    .site-logo
                        display: flex
                        align-items: center
                        width: 132px
                        height: 34px
            .collapse
                .navbar-nav
                    .nav-item
                        margin: 0 9px
                        .nav-link
                            padding: 0
                            font-size: .875rem
                            &::before
                                height: 5px
                    .active
                        &::before
                            height: 5px
                    .dropdown
                        .dropdown-menu
                            left: 35%
                            padding: 10px
                            .dropdown-item
                                font-size: .875rem
            .search-box
                width: 33%
    #banner
        min-height: 520px
        background-position: 40% 35%
        &::after
            bottom: 120px    
        .links
            padding-top: 400px
            .link-item
                .link
                    height: 120px
    #technique
        padding: 30px 0 0 10px
        .technique-list
            padding: 0 15px
            justify-content: space-between
    #partners
        padding: 40px 25px
        h2
            font-size: 2rem
            width: 90%
            margin: 0 auto
        .slick-slider
            margin: 40px 0
    #search
        padding: 40px 25px
        .search-form-box
            padding: 30px
            h2
                font-size: 2rem
    #about
        padding: 0 25px 40px 25px
        h2
            padding: 0 0 20px 0
            font-size: 2rem
    .footer
        .row__wrapper
            padding: 0 25px
            .main-part
                .footer-navigation
                    margin-bottom: 15px
                    .site-logo
                        margin: 25px 0
                        padding: 0
                        width: 132px
                        height: 34px
                    .footer-menu
                        margin: 25px 0 0 45px
                        padding: 0
                .catalog-links-list
                    padding: 25px
                    margin-left: 20px
                .footer-info
                    width: auto
                    padding: 25px
                .footer-info-second
                    padding: 25px 0 0 0
                    margin: 0
@media only screen and (max-width: 1440px)
    #banner
        background-position: 55% 40%
    #technique
        .technique-list
            .technique-item
                width: 20%
                .technique-link
                    .pic-wrapper
                        padding: 0 20px




                    
                    


