@import _variables.sass

@media screen and (min-width: 320px) and (max-width: 426px)
    #banner
        background-position: 45% 30%
        min-height: 315px
        padding: 15px
        &::after
            display: none
        .links
            padding-top: 0
            .link-item
                .link
                    width: 100%
                    height: 95px
                    padding: 0
                    &:nth-child(odd)
                        border-top: 1px solid $white
                        border-bottom: 1px solid $white
                    &:nth-child(even)
                        border-top: none
                        border-bottom: none
    #technique
        padding: 25px 0 0 0                 
        .technique-list
            .technique-item
                width: 100%
                margin: 0 0 10px 0
                padding: 0 15px 
                .technique-link
                    .pic-wrapper
                        margin: 0 20px    
    #partners
        padding: 25px 15px
        h2
            font-size: 1.4375rem
            margin-bottom: 10px
            width: 80%
            margin: 0 auto
        .slick-slider
            margin-bottom: 10px
            .slick-prev
                left: 35%
                bottom: -35px
                top: unset
            .slick-next
                right: 35%
                bottom: -35px
                top: unset
    #search
        padding: 15px
        .search-form-box
            padding: 15px
            border-radius: 0
            h2
                font-size: 1.4375rem
                padding: 0 10px
            .form-group
                margin: 0
                .checkboxes
                    padding: 15px 10px 15px 0
                    width: 100%
                    .sort
                        label
                            padding-right: 15px
                .seach-box
                    width: 100%
                    .search
                        width: 100%
                        padding: 15px
                        font-size: .875rem
                        margin-bottom: 15px 
                    .btn-search
                        position: relative
                        width: 100%
    #about
        padding: 15px
        h2
            font-size: 1.4375rem
            padding: 0
            margin-bottom: 15px
        .article
            img
                max-width: 100%
                padding: 0 0 15px 0
                float: none
            .subtitle
                font-size: .875rem
            p
                font-size: .75rem
                margin: 0 0 10px
            ul
                font-size: .75rem
                margin-bottom: 10px 
                li
                    &::before
                        height: 1px
    #about_description
        padding: 25px 15px
        h2
            margin: 0 0 20px 0
            font-size: 1.4375rem
        article
            img
                max-width: 100%
                height: auto
                float: unset
                padding: 0 0 20px 0
    #benefits
        padding: 25px 15px
        background-image: none
        .content
            h2
                font-size: 1.4375rem
                margin-bottom: 20px
            .benefits-list
                .benefits-item
                    margin: 0 0 25px 0
                    .counter
                        font-size: 2.1875rem
                    p
                        width: 100%
    #areas_of_work
        padding: 25px 15px
        h2
            font-size: 1.4375rem
            margin: 0 0 20px 0
        .card-deck
            .card
                margin: 0 0 15px 15px
                padding: 0 
                .card-link
                    .card-body
                        padding: .5rem
                        width: 100%
    #payment
        padding: 25px 15px
        article
            margin: 0 0 20px 0
            h2
                text-align: center
                font-size: 1.4375rem
                margin: 0 0 20px 0
        .block-title
            font-size: 1.4375rem    
    #delivery-partners
        padding: 25px 15px
        h2
            text-align: center
            font-size: 1.4375rem
            margin: 0 0 20px 0
        .delivery_partners-list
            li
                .delivery_partner
                    height: 150px
    #regions
        padding: 0
        .wrapper
            padding: 15px
    #vacancy
        padding: 25px 15px
        h2
            text-align: center
            font-size: 1.4375rem
            margin: 0 0 20px 0    
        .contact-wrapper
            flex-wrap: wrap
            .contact
                margin: 0
    #contacts
        padding: 25px 15px
        h2
            text-align: center
            font-size: 1.4375rem
            margin: 0 0 20px 0 
    #map
        overflow: hidden
        iframe
            height: 400px        
    #repair
        padding: 25px 15px
        h2
            text-align: center
            font-size: 1.4375rem
            margin: 0 0 20px 0
        .repair-link
            img
                max-width: 100%
            h4
                padding: 15px 0
    #repair-bulldozer  
        padding: 25px 15px
        h2
            text-align: center
            font-size: 1.4375rem
            margin: 0 0 20px 0 
        article
            img
                float: unset
                margin: 0 0 15px 0
    #catalog
        padding: 25px 15px
        .title-wrapper
            margin: 0 0 20px 0
            h2
                text-align: center
                font-size: 1.4375rem 
            label
                display: none
        .sidebar
            margin: 0 0 20px 0
            .accordion-menu
                padding-right: 0
        .content
            margin-left: 15px
            .technique-list
                .technique-item       
    #catalog-single
        padding: 25px 15px
        .title-wrapper
            margin: 0 0 20px 0
            h2
                text-align: center
                font-size: 1.4375rem 
            label
                display: none
        .sidebar
            margin-bottom: 30px
        .content
            .bulldozer-list
                li
                    margin-left: 15px
            article
                margin-left: 0
    #products
        padding: 25px 15px
        .title-wrapper
            margin: 0 0 20px 0
            h2
                text-align: center
                font-size: 1.4375rem 
            label
                display: none
        .sidebar
            margin-bottom: 30px
        .content
            .product-list
                li
                    margin-left: 15px
    #spare-parts
        padding: 
        .title-wrapper
            margin: 0 0 20px 0
            h2
                text-align: center
                font-size: 1.4375rem 
            label
                display: none
        .sidebar
            margin: 0 0 30px 0
    #assortment
        padding: 25px 15px
        .title-wrapper
            margin: 0 0 20px 0
            h2
                text-align: center
                font-size: 1.4375rem 
            label
                display: none
        .sidebar
            margin: 0 0 30px 0  
        .content
            .detail-list
                justify-content: center
                li
                    width: 100%
                    .detail
                        .models
                            min-height: 1px
    #hummers
        padding: 25px 15px
        .title-wrapper
            margin: 0 0 20px 0
            h2
                text-align: center
                font-size: 1.4375rem 
                width: 100%
            label
                display: none
        .sidebar
            margin: 0 0 30px 0                             
    #ModalForm
        .modal-content
            padding: 0
            .contact-form
                .submit_btn
                    width: 100%
    .footer
        background-position-x: 75%
        .row__wrapper
            .main-part
                flex-wrap: wrap
                padding: 30px 0
                .footer-navigation
                    display: none
                .catalog-links-list
                    display: none
                .footer-info
                    width: 100%
                    padding: 0
                    margin-bottom: 30px
                    border-right: none
                    .email
                        margin-bottom: 25px
                    .place
                        margin-bottom: 25px
                .footer-info-second
                    padding: 0
                    margin: 0
                    .phones
                        margin-bottom: 35px
                    .facebook-link
                        margin-right: 25px
            .info-part
                flex-direction: column
                justify-content: center
                width: 80%
                text-align: center
                padding: 15px 0
                p
                    &:nth-child(2)
                        margin-top: 15px
    .breadcrumbs
        .breadcrumb
            margin: 0 15px
@media screen and (min-width: 320px) and (max-width: 424px)
    #repair-bulldozer  
        .bulldozer-repair-list
            li
                margin-right: 40px
                img
                    margin: 0 15px 0 0    
@media screen and (min-width: 320px) and (max-width: 375px)
    #catalog-single
        .content
            .bulldozer-list
                justify-content: center
                li
                    width: 100%
                    .item
                        a
                            h4
                                margin: 10px 0
    #hummers
        .content
            .product-list
                justify-content: center
                li
                    width: 100%
                    .single-product
                        img
                            display: none
                        .desctiption
                            padding: 1rem 2.5rem
                            min-height: 1px
@media screen and (min-width: 375px) and (max-width: 480px)
    #catalog-single
        .content
            .bulldozer-list
                justify-content: center
                li
                    width: 65%
    #products
        .content
            .product-list
                justify-content: center
                li
                    width: 75%
    #spare-parts
        .content
            .detail-list
                justify-content: center
                li
                    width: 75%
    #assortment
        .content
            .detail-list
                justify-content: center
                li
                    width: 75%
@media screen and (min-width: 425px) and (max-width: 480px)
    #delivery-partners
        .delivery_partners-list
            li
                width: 50%
                .delivery_partner
                    img
                        max-width: 100%
    #repair-bulldozer
        padding: 25px 20px
        h2
            text-align: center
            font-size: 1.875rem
            margin: 0 0 20px 0  
        .bulldozer-repair-list
            margin: 0 -10px
            li
                padding: 0 10px
                img
                    margin: 0 5px 0 0 
    #spare-parts
        .content
            .detail-list
                justify-content: center
                li
                    margin-left: 15px
                    width: 65%                   
@media screen and (min-width: 425px) and (max-width: 426px)
    #technique
        .technique-list
            .technique-item
                width: 50%
                &:nth-last-child(even)
                    padding-right: 0
                .technique-link
                    .pic-wrapper
                        margin: 0 10px
                    .technique-title
                        font-size: .875rem        
@media screen and (min-width: 427px) and (max-width: 480px)
    #banner
        min-height: 353px
        padding: 30px 20px
        &::after
            display: none
        .links
            padding-top: 0
            .link-item
                padding-right: 0
                .link
                    &:nth-last-child(odd)
                        border-bottom: 1px solid $white
                    &:nth-child(1)
                        border-top: 1px solid $white
    #technique
        padding: 25px 0                
        .technique-list
            .technique-item
                width: 100%
                margin: 0 0 10px 0
                padding: 0 15px
                &:nth-last-child(even)
                    padding-right: 0 
                .technique-link
                    .technique-title
                        font-size: .875rem
    #partners
        padding: 25px 20px
        h2
            font-size: 1.875rem
            margin-bottom: 10px
            width: 80%
            margin: 0 auto
        .slick-slider
            margin-bottom: 10px
            .slick-prev
                left: 35%
                bottom: -35px
                top: unset
            .slick-next
                right: 35%
                bottom: -35px
                top: unset
    #search
        padding: 15px 20px
        .search-form-box
            border-radius: 0
            padding: 25px
            h2
                font-size: 1.875rem 
            .form-group
                margin: 0
                .checkboxes
                    padding: 15px 10px 15px 0 
                    width: 100%
                    .sort
                        label
                            padding-right: 15px
                .seach-box
                    width: 100%
                    .search
                        width: 100%
                        padding: 15px
                        font-size: .875rem
                        margin-bottom: 15px 
                    .btn-search
                        position: relative
                        width: 100%
    #about
        padding: 15px 20px
        h2
            font-size: 1.875rem
            padding: 0
            margin-bottom: 20px  
        .article
            img
                max-width: 100%
                padding: 0 0 15px 0
                float: none
            .subtitle
                font-size: 1rem
            p
                font-size: .875rem
                margin: 0 0 10px
            ul
                font-size: .875rem
                margin-bottom: 10px
                li
                    &::before
                        height: 1px
    #about_description
        padding: 25px 20px
        h2
            margin: 0 0 20px 0
            font-size: 1.875rem
        article
            img
                max-width: 100%
                height: auto
                float: unset
                padding: 0 0 20px 0
    #benefits
        padding: 25px 20px
        background-image: none
        .content
            h2
                font-size: 1.875rem
                margin-bottom: 25px
            .benefits-list
                .benefits-item
                    margin: 0 0 25px 0
                    .counter
                        font-size: 2.1875rem
                    p
                        width: 100%
    #areas_of_work   
        padding: 25px 20px
        h2
            font-size: 1.875rem
            margin-bottom: 25px
        .card-deck
            .card
                padding: 0
                margin: 0 0 25px 0
                &:first-child
                    padding: 0
                    margin-bottom: 25px
                .card-link
                    .card-body
                        width: 100%
                        padding: 1rem
    #payment
        padding: 25px 20px
        article
            margin: 0 0 20px 0
            h2
                text-align: center
                font-size: 1.875rem
                margin: 0 0 20px 0        
    #delivery-partners
        padding: 25px 20px 0 20px
        h2
            text-align: center
            font-size: 1.875rem
            margin: 0 0 20px 0
    #regions
        padding: 0
        .wrapper
            padding: 25px
    #vacancy
        padding: 25px 20px
        h2
            text-align: center
            font-size: 1.875rem
            margin: 0 0 20px 0
        .vacancy-title
            font-size: 1.125rem    
        .contact-wrapper
            flex-wrap: wrap
            .contact
                margin: 0        
    #contacts
        padding: 25px 20px
        h2
            text-align: center
            font-size: 1.875rem
            margin: 0 0 20px 0
    #repair
        padding: 25px 20px
        h2
            text-align: center
            font-size: 1.875rem
            margin: 0 0 20px 0
        .repair-link
            img
                max-width: 100%
    #catalog
        padding: 25px 20px
        .title-wrapper
            margin: 0 0 20px 0
            h2
                text-align: center
                font-size: 1.4375rem 
            label
                display: none
        .sidebar
            margin: 0 0 30px 0
        .content
            margin-left: 15px
            .technique-list
                .technique-item
                    width: 50%
    #catalog-single
        padding: 25px 20px
        .title-wrapper
            margin: 0 0 20px 0
            h2
                text-align: center
                font-size: 1.4375rem 
            label
                display: none
        .sidebar
            justify-content: center 
            margin: 0 0 30px 0
        .content
            article
                margin-left: 0
    #products
        padding: 25px 20px
        .title-wrapper
            margin: 0 0 20px 0
            h2
                text-align: center
                font-size: 1.4375rem 
            label
                display: none
        .sidebar
            margin: 0 0 30px 0
        .content
            .product-list
                justify-content: center
                li
                    width: 60%
                    margin-left: 15px
            article
                margin-left: 0
    #spare-parts
        padding: 25px 20px
        .title-wrapper
            margin: 0 0 20px 0
            h2
                text-align: center
                font-size: 1.4375rem 
            label
                display: none
        .sidebar
            margin: 0 0 30px 0
    #assortment
        padding: 25px 20px
        .title-wrapper
            margin: 0 0 20px 0
            h2
                text-align: center
                font-size: 1.4375rem 
            label
                display: none
        .sidebar
            margin: 0 0 30px 0  
        .content
            .detail-list
                justify-content: center
                li
                    width: 65%
                    margin-left: 15px
                    .detail
                        .models
                            min-height: 1px     
    #hummers
        padding: 25px 20px
        .title-wrapper
            margin: 0 0 20px 0
            h2
                text-align: center
                font-size: 1.4375rem
                width: 100% 
            label
                display: none
        .sidebar
            margin: 0 0 30px 0  
        .content
            .product-list
                justify-content: center
                li
                    width: 100%
    .footer
        background-position-x: 75%
        .row__wrapper
            .main-part
                flex-wrap: wrap
                padding: 30px 10px
                .footer-navigation
                    display: none
                .catalog-links-list
                    display: none
                .footer-info
                    width: 100%
                    padding: 0
                    margin-bottom: 30px
                    border-right: none
                    .email
                        margin-bottom: 25px
                    .place
                        margin-bottom: 25px
                .footer-info-second
                    padding: 0
                    margin: 0
                    .phones
                        margin-bottom: 35px
                    .facebook-link
                        margin-right: 25px
            .info-part
                flex-direction: column
                justify-content: center
                width: 80%
                text-align: center
                padding: 15px 0
                p
                    &:nth-child(2)
                        margin-top: 15px
    .breadcrumbs
        .breadcrumb
            margin: 0 20px                                    
@media screen and (min-width: 320px) and (max-width: 480px)
    .header
        .navbar
            .navbar-collapse
                flex-grow: 1
                flex-basis: auto
@media screen and (min-width: 481px) and (max-width: 767px)
    .header
        .navbar
            .navbar-collapse
                flex-grow: 1
                flex-basis: auto
    #banner
        min-height: 400px
        background-position: 40% 35%
        &::after
            bottom: 100px    
        .links
            padding-top: 350px
            .link-item
                .link
                    height: 100px
                    &:nth-last-child(odd)
                        border-bottom: 1px solid $white
                    &:nth-child(1)
                        border-top: 1px solid $white
    #technique
        padding: 25px 15px
        .technique-list
            padding: 0 0 0 10px
            justify-content: space-between
            .technique-item
                width: 33.333%
                margin: 0 10px 10px 0
                .technique-link
                    .pic-wrapper
                        margin: 0 10px
    #partners
        padding: 25px
        h2
            font-size: 1.875rem
            margin-bottom: 0
        .slick-dotted.slick-slider
            margin-bottom: 5px
        .slick-slider
            .slick-prev
                left: 0
            .slick-next
                right: 0
            .slick-dots
                bottom: -15px
    #search
        padding: 0 15px
        .search-form-box
            border-radius: 0
            padding: 25px
            h2
                font-size: 1.875rem 
            .form-group
                margin: 0
                .checkboxes
                    padding: 15px 10px 15px 0 
                    width: 100%
                    .sort
                        label
                            padding-right: 15px
                .seach-box
                    width: 100%
                    .search
                        width: 100%
                        padding: 15px
                        font-size: .875rem
                        margin-bottom: 15px 
                    .btn-search
                        position: relative
                        width: 100%                       
    #about
        padding: 15px 25px
        h2
            padding: 0 0 20px 0
            font-size: 1.875rem
        .article
            .subtitle
                font-size: 1rem
            img
                max-width: 50%
                height: auto
                padding: 0 0 0 5px
            p
                font-size: .9375rem
                margin: 0 0 10px 0
            ul
                font-size: .9375rem
                margin-bottom: 10px
    #about_description
        padding: 25px 20px
        h2
            margin: 0 0 20px 0
            font-size: 1.875rem
    #benefits
        padding: 25px 20px
        background-image: none
        .content
            h2
                font-size: 1.875rem
                margin-bottom: 25px
            .benefits-list
                .benefits-item
                    margin: 0 0 25px 0

                    .counter
                        font-size: 2.65rem
                    p
                        width: 100%
    #areas_of_work   
        padding: 25px 20px
        h2
            font-size: 1.875rem
            margin-bottom: 25px
        .card-deck
            .card
                .card-link
                    .card-body
                        width: 100%
                        padding: 1rem
    #delivery-partners
        padding: 25px 20px 0 20px
        h2
            font-size: 1.875rem
            margin-bottom: 25px
            text-align: center
        .delivery_partners-list
            li
                width: 50%
                .delivery_partner
                    img
                        max-width: 100%
                        padding: 0 .5em
    #regions
        padding: 0
        .wrapper
            padding: 25px 20px
    #payment
        padding: 25px 20px
        article
            margin: 0 0 20px 0
            h2
                text-align: center
                font-size: 1.875rem
                margin: 0 0 20px 0
    #repair
        padding: 25px 20px
        h2
            text-align: center
            font-size: 1.875rem
            margin: 0 0 25px 0
    #repair-bulldozer
        padding: 25px 20px
        h2
            text-align: center
            font-size: 1.875rem
            margin: 0 0 25px 0
        .bulldozer-repair-list
            li
                margin: 0 0 5px 0
                img
                    margin: 0 10px 0 0
    #catalog
        padding: 25px 20px
        .title-wrapper
            margin: 0 0 20px 0
            h2
                text-align: center
                font-size: 1.4375rem 
            label
                display: none
        .sidebar
            margin: 0 0 30px 0
        .content
            margin-left: 15px
            .technique-list
                .technique-item
                    width: 50% 
    #catalog-single
        .content
            article
                margin-left: 0      
    #products
        padding: 25px 20px
        .title-wrapper
            margin: 0 0 20px 0
            h2
                text-align: center
                font-size: 1.4375rem 
            label
                display: none
        .sidebar
            margin: 0 0 30px 0
        .content
            margin-left: 0
            .product-list
                justify-content: center
                li
                    width: 40%
                    margin-left: 15px
            article
                margin-left: 0
    #spare-parts
        padding: 25px 20px
        .title-wrapper
            margin: 0 0 20px 0
            h2
                text-align: center
                font-size: 1.4375rem 
            label
                display: none
        .sidebar
            margin: 0 0 30px 0
        .content
            .detail-list
                justify-content: center
                li
                    margin-left: 0
                    width: 50%
    #assortment
        padding: 25px 20px
        .title-wrapper
            margin: 0 0 20px 0
            h2
                text-align: center
                font-size: 1.4375rem 
            label
                display: none
        .sidebar
            margin: 0 0 30px 0
        .content
            .detail-list
                justify-content: center
                li
                    margin-left: 0
                    width: 45%
    #hummers
        padding: 25px 20px
        .title-wrapper
            margin: 0 0 20px 0
            h2
                text-align: center
                font-size: 1.4375rem
                width: 100% 
            label
                display: none
        .sidebar
            margin: 0 0 30px 0
        .content
            .product-list
                justify-content: center
                li
                    width: 85%
    .footer 
        .row__wrapper
            .main-part
                flex-wrap: wrap
                padding: 30px 15px
                .footer-navigation
                    display: none
                .catalog-links-list
                    display: none
                .footer-info
                    width: 100%
                    padding: 0
                    margin-bottom: 30px
                    border-right: none
                    .email
                        margin-bottom: 25px
                    .place
                        margin-bottom: 25px
                .footer-info-second
                    padding: 0
                    margin: 0
                    .phones
                        margin-bottom: 35px
                    .facebook-link
                        margin-right: 25px
            .info-part
                flex-direction: column
                justify-content: center
                width: 80%
                text-align: center
                padding: 15px 0
                p
                    &:nth-child(2)
                        margin-top: 15px
    .breadcrumbs
        .breadcrumb
            margin: 0 15px
@media screen and (min-width: 481px) and (max-width: 576px)
    #catalog-single
        padding: 25px 20px
        .title-wrapper
            margin: 0 0 20px 0
            h2
                text-align: center
                font-size: 1.875rem 
            label
                display: none
        .sidebar
            justify-content: center 
            margin-bottom: 30px
        .content
            .bulldozer-list
                justify-content: center
                li
                    max-width: 65%
@media screen and (min-width: 576px) and (max-width: 767px)
    #catalog-single
        padding: 25px 20px
        .title-wrapper
            margin: 0 0 20px 0
            h2
                text-align: center
                font-size: 1.875rem 
            label
                display: none
        .sidebar
            justify-content: center 
            margin-bottom: 30px
        .content
            margin-left: 15px
            .bulldozer-list
                justify-content: center
                li
                   width: 45%
@media screen and (min-width: 768px) and (max-width: 992px)
    header
        .navbar
            padding: 0 .5rem
            .navbar-brand
                .site-logo
                    display: flex
                    align-items: center
                    width: 132px
                    height: 34px
                    margin-left: 5px
            .search-box
                display: none
    #repair-bulldozer
        .bulldozer-repair-list
            li
                margin: 0 0 5px 0
                img
                    margin: 0 10px 0 0
                h5
                    font-size: .875rem
    #products
        .content
            .product-list
                li
                    .product
                        h4
                            padding: .5em .2em
                            font-size: .875rem
                        span
                            font-size: .875rem
    .footer
        .row__wrapper
            padding: 0 25px
            .main-part
                .footer-navigation
                    margin-bottom: 15px
                    .site-logo
                        display: none
                    .footer-menu
                        margin: 20px 0 0 0
                        padding: 0
                .catalog-links-list
                    padding: 25px
                    margin-left: 20px
                .footer-info
                    width: auto
                    padding: 25px
                .footer-info-second
                    padding: 25px 0 0 0
                    margin: 0
@media screen and (min-width: 992px) and (max-width: 1024px)
    .header
        .navbar
            padding: 0 .5rem
            .navbar-brand
                .site-logo
                    display: flex
                    align-items: center
                    width: 132px
                    height: 34px
            .search-box
                width: 27%
    #products
        .content
            .product-list
                li
                    .product
                        h4
                            padding: .5em 1.5em             
    .footer
        .row__wrapper
            padding: 0 25px
            .main-part
                .footer-navigation
                    margin-bottom: 15px
                    .site-logo
                        display: block
                        width: 132px
                        padding: 25px 0 0 0
                        margin-right: 25px
                    .footer-menu
                        margin: 20px 0 0 0
                        padding: 0
                .catalog-links-list
                    padding: 25px
                .footer-info
                    padding: 25px 45px 25px 25px
                .footer-info-second
                    padding: 25px 0 0 0
@media screen and (min-width: 320px) and (max-width: 767px)
    .header
        .navbar
            padding: .5rem 1rem
            .navbar-brand
                .site-logo
                    display: flex
                    align-items: center
                    width: 132px
                    height: 34px
            .navbar-toggler
                border: unset
                position: relative
            .navbar-collapse
                flex-grow: 1
                flex-basis: auto
                width: 100%
                .navbar-nav
                    .nav-item 
                        .nav-link
                            padding: 0
                            &::before
                                bottom: 3px
                        .dropdown-toggle
                            padding: 0
                            &:hover
                                &::before
                                    bottom: 3px
                    .dropdown 
                        .dropdown-menu
                            background-color: transparent
                            padding: 0
                            opacity: 1
                            left: 0
                            .dropdown-item
                                color: #212529
                                font-weight: 600
                                font-size: 1rem
                                padding: 3px 15px
                                margin-left: 5px
                                &:hover
                                    color: $yellow 
            .contact-phones
                .icon-call-phone-outline
                    position: absolute
                    right: 80px
                    top: 12px
                    color: $black
                    display: flex
                    align-items: center
                    font-size: 2.125rem
                    padding-top: .1em
                    transition: .4s all
                .phones 
                    position: absolute
                    box-sizing: border-box
                    left: -800px
                    background-color: $white
                    padding-top: 10px
                    width: 100%
                    .phone_item
                        margin: 0 0 5px 0
                        a
                            font-size: 1rem
                            color: $black
                            text-decoration: none
                            font-weight: 700
                            transition: ease all .4s
                            &:hover
                                color: $yellow
                                transition: ease all .4s                 
                .phones.active
                    left: 15px
                    top: 50px
                    z-index: 25
                .icon-call-phone-outline.active
                    transition: .4s all
                    transform: rotate(-100deg)
            .search-box
                width: 100%
@media screen and (min-width: 768px) and (max-width: 1024px)
    #banner
        min-height: 520px
        background-position: 40% 35%
        &::after
            bottom: 120px    
        .links
            padding-top: 400px
            .link-item
                .link
                    height: 120px
    #technique
        padding: 30px 0 0 10px
        .technique-list
            padding: 0 15px
            justify-content: space-between
    #partners
        padding: 40px 25px
        h2
            font-size: 2rem
            width: 90%
            margin: 0 auto
        .slick-slider
            margin: 40px 0
    #search
        padding: 40px 25px
        .search-form-box
            padding: 30px
            h2
                font-size: 2rem
    #about
        padding: 15px 25px 40px 25px
        h2
            font-size: 2rem
            margin: 0 0 20px 0    
    #about_description
        padding: 0 25px 30px 25px
        h2
            font-size: 2rem
        article
            p
                margin: 0 0 15px 0
            img
                width: 55%
                max-width: 100%
                height: auto
                padding: 0 0 20px 10px
    #benefits
        padding: 30px 25px
        .content
            h2
                font-size: 1.875rem
                margin-bottom: 25px
    #areas_of_work   
        padding: 30px 25px
        h2
            font-size: 1.875rem
            margin-bottom: 25px
        .card-deck
            .card
                .card-link
                    .card-body
                        width: 100%
                        padding: 1rem
    #delivery-partners
        padding: 30px 25px
        h2
            font-size: 1.875rem
            margin-bottom: 25px
        .delivery_partners-list
            li
                .delivery_partner
                    height: 140px
                    img
                        max-width: 100%
                        padding: 0 .5em
    #payment
        padding: 30px 25px
        article
            margin: 0 0 20px 0
            h2
                text-align: center
                font-size: 1.875rem
                margin: 0 0 20px 0
    #vacancy
        padding: 30px 25px
        h2
            text-align: center
            font-size: 1.875rem
            margin: 0 0 20px 0
        .vacancy-title
            font-size: 1.125rem    
        .contact-wrapper
            flex-wrap: wrap
            .contact
                margin: 0
    #contacts
        padding: 30px 25px
        h2
            text-align: center
            font-size: 1.875rem
            margin: 0 0 20px 0
        .contact-list
            margin: 0
    #repair
        padding: 30px 25px
        h2
            text-align: center
            font-size: 1.875rem
            margin: 0 0 20px 0
    #repair-bulldozer
        padding: 30px 25px
        h2
            text-align: center
            font-size: 1.875rem
            margin: 0 0 20px 0
        article
            img
                width: 60%
    #catalog
        padding: 30px 25px
    #catalog-single
        padding: 30px 25px
        .title-wrapper
            margin: 0 0 20px 0
            h2
                font-size: 1.875rem
        .sidebar
            padding-right: 15px
        .content
            .bulldozer-list
                li
                    padding-left: 0
    #products
        padding: 30px 25px
        .title-wrapper
            margin: 0 0 20px 0
            h2
                font-size: 1.875rem
        .sidebar
            padding-right: 15px
        .content
            margin-left: 0
            .product-list
                li
                    width: 50%
                    margin-left: 0
            article
                margin-left: -15px
    #spare-parts
        padding: 30px 25px
        .title-wrapper
            margin: 0 0 20px 0
            h2
                font-size: 1.875rem
        .sidebar
            padding-right: 15px
        .content
            margin-left: 0
    #assortment
        padding: 30px 25px
        .title-wrapper
            margin: 0 0 20px 0
            h2
                font-size: 1.875rem
        .sidebar
            padding-right: 15px
        .content
            margin-left: 0
    #hummers
        padding: 30px 25px
        .title-wrapper
            margin: 0 0 20px 0
            h2
                font-size: 1.875rem
        .content
            .product-list
                li
                    .single-product
                        .desctiption
                            padding: 1.25rem
@media screen and (min-width: 1025px) and (max-width: 1339px)
    .header
        .navbar
            padding: 0 .5rem
            .navbar-brand
                margin: 0
            .search-box
                    width: 25%
    #about_description
        padding: 25px 20px
        h2
            margin-bottom: 30px
    #benefits
        padding: 25px 20px
        h2
            margin-bottom: 30px
    #areas_of_work
        padding: 25px 20px
        h2
            margin-bottom: 30px
    #payment
        padding: 25px 30px
    #delivery-partners
        padding: 25px 30px
    #regions
        padding: 25px 30px
    #repair
        padding: 25px 20px
    #repair-bulldozer
        padding: 25px 20px
    #catalog
        padding: 25px 20px
    #catalog-single
        padding: 25px 20px
    #products
        padding: 25px 20px
        .content
            .product-list
                li
                    .product
                        h4
                            padding: .5em 0
                            width: 85%
                            margin: 0 auto
    #spare-parts
        padding: 25px 20px
    #assortment
        padding: 25px 20px
    #hummers
        padding: 25px 20px       
@media screen and (min-width: 1025px) and (max-width: 1199px)
    #hummers
        .content
            .product-list
                li
                    .single-product
                        .desctiption
                            padding: 2rem
@media only screen and (max-width: 1440px)
    #banner
        background-position: 55% 40%
    #technique
        .technique-list
            .technique-item
                width: 20%
                .technique-link
                    .pic-wrapper
                        padding: 0 20px